<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <meta http-equiv="X-UA-Compatible" content="te=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="rows">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                | {{ form.name }}
                            </div>

                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>
    <section class=" section">
        <div class="container">
            <div class="column">
                <div class="column is-offset-4 is-4">

                    {% for weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="" />
                                </figure>
                            </div>
                            <div class="media-content">

                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}* F</span>
                                        <br>
                                    <h4>Humidity: {{weather.humidity}}</h4>
                                    <br>
                                    <h4>Pressure: {{weather.pressure}}</h4>
                                    <br>
                                    <h4>Wind Speed: {{weather.windspeed}}</h4>
                                    <br> {{ weather.description}}
                                    <h4>Feels like:{{weather.feelslike}}</h4>
                                    </p>

                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">

    </footer>